.homepage-swiper .swiper-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* swiper prev & next buttons  */
.homepage-swiper :is(.swiper-button-prev, .swiper-button-next, .swiper-pagination) {
    z-index: 2;
}

.homepage-swiper :is(.swiper-button-prev, .swiper-button-next) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    background-color: #000;
    opacity: 0.6;
    border-radius: 8px;
}

.homepage-swiper .swiper-button-prev {
    left: 20px;
}

.homepage-swiper .swiper-button-next {
    right: 20px;
}

.homepage-swiper :is(.swiper-button-prev, .swiper-button-next)::after {
    content: '';
    width: 6.5px;
    height: 13px;
    background: url(../assets/images/svg/solid-left-arrow-icon.svg) no-repeat center;
}

.homepage-swiper .swiper-button-next {
    rotate: 180deg;
}

/* swiper pagination  */
.homepage-swiper .swiper-pagination {
    height: 10px;
    bottom: 72px;
}

.homepage-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 1;
    opacity: 0.6;
    margin: 0 !important;
    transition: width 0.3s linear;
    border-radius: 100px;
}

.homepage-swiper .swiper-pagination-bullet:not(:last-child) {
    margin-right: 12px !important;
}

.homepage-swiper .swiper-pagination-bullet-active {
    width: 48px;
}

@media only screen and (max-width:1800px) {
    .homepage-swiper .swiper-pagination {
        display: flex;
        align-items: start;
        padding: 0 20px;
    }
}